echo "Change directory to /var/www/{{ stack_name }}_devops"
cd /var/www/{{ stack_name }}_devops
echo "============================================"

echo "Stash git changes"
git stash
echo "==========================================="
{% raw %}
echo "Pull origin ${1}"
git pull origin ${1}
echo "==========================================="

echo "Apply stash"
git stash apply
echo "==========================================="

echo "Execute make-template script"
bash ./scripts/make-template.sh ${1}
echo "============================================"

echo "Update vault"
make vault-up
echo "==========================================="

echo "Update services"
make service-up
echo "==========================================="

echo "Success!"
{% endraw %}