version: "3.7"

services:
  minio:
    image: minio/minio:{{ minio.version }}
    volumes:
      - minio:/data
    ports:
      - "{{ minio.external_port }}:9000"
    command: server /data
    environment:
      MINIO_ACCESS_KEY: {{ minio.access_key }}
      MINIO_SECRET_KEY: {{ minio.secret_key }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  minio:
