global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: "codelab-monitor"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
{% for jobs in prometheus_exporters %}
  - job_name: {{ jobs.jobname }}
    scrape_interval: 5s
    static_configs:
{% for export in jobs.exporter %}
      - targets: ["{{ export.targets }}"]
        labels:
          group: "{{ prometheus_exporter_monitoring_group }}"
{% endfor %}
{% endfor %}

rule_files:
  - ./alert_rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:{{ alertmanager_external_port }}"]


